.2_253 { 
	overflow:hidden;
}





.e2_253 { 
	background-color:rgba(252.87500202655792, 252.87500202655792, 252.87500202655792, 1);
	width:100%;
	height:100%;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	position:absolute;
}
.e2_254 { 
	width:847px;
	height:27px;
	position:absolute;
	left:232px;
	top:165px;
}
.e2_255 { 
	width:587px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_256 { 
	background-color:rgba(0, 122.00000032782555, 255, 1);
	width:52px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e2_257 { 
	color:rgba(252.87500202655792, 252.87500202655792, 252.87500202655792, 1);
	width:14px;
	height:15px;
	position:absolute;
	left:19px;
	top:6px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e2_258 { 
	box-shadow:0px 4px 10px rgba(79.6875, 79.6875, 79.6875, 0.05000000074505806);
	background-color:rgba(252.87500202655792, 252.87500202655792, 252.87500202655792, 1);
	width:119px;
	height:27px;
	position:absolute;
	left:57px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e2_259 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:81px;
	height:15px;
	position:absolute;
	left:19px;
	top:6px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e2_260 { 
	box-shadow:0px 4px 10px rgba(79.6875, 79.6875, 79.6875, 0.05000000074505806);
	background-color:rgba(252.87500202655792, 252.87500202655792, 252.87500202655792, 1);
	width:121px;
	height:27px;
	position:absolute;
	left:181px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e2_261 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:83px;
	height:15px;
	position:absolute;
	left:19px;
	top:6px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e2_262 { 
	box-shadow:0px 4px 10px rgba(79.6875, 79.6875, 79.6875, 0.05000000074505806);
	background-color:rgba(252.87500202655792, 252.87500202655792, 252.87500202655792, 1);
	width:121px;
	height:27px;
	position:absolute;
	left:307px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e2_263 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:83px;
	height:15px;
	position:absolute;
	left:19px;
	top:6px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e2_264 { 
	box-shadow:0px 4px 10px rgba(79.6875, 79.6875, 79.6875, 0.05000000074505806);
	background-color:rgba(252.87500202655792, 252.87500202655792, 252.87500202655792, 1);
	width:125px;
	height:27px;
	position:absolute;
	left:433px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e2_265 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:87px;
	height:15px;
	position:absolute;
	left:19px;
	top:6px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e2_266 { 
	width:24px;
	height:24px;
	position:absolute;
	left:563px;
	top:1.5px;
}
.ei2_266_92_1494 { 
	background-color:rgba(49.00000087916851, 74.0000031888485, 204.00000303983688, 0.10000000149011612);
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.i2_266_92_1494 { 
	border:1px solid rgba(0, 122.00000032782555, 255, 1);
}

.ei2_266_92_1495 { 
	width:21px;
	height:21px;
	color:rgba(0, 122.00000032782555, 255, 1);
	position:absolute;
	left:-3px;
	top:-3px;
	border:dotted;
	border-top-left-radius:144px;
	border-top-right-radius:144px;
	border-bottom-left-radius:144px;
	border-bottom-right-radius:144px;
    
}
.e2_267 { 
	width:847px;
	height:55px;
	position:absolute;
	left:232px;
	top:100px;
}
.e2_268 { 
	color:rgba(4.000000236555934, 4.000000236555934, 4.000000236555934, 1);
	width:234px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e2_269 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:219px;
	height:17px;
	position:absolute;
	left:0px;
	top:34px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e2_270 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:57px;
	height:17px;
	position:absolute;
	left:761px;
	top:34px;
	font-family:Inter;
	text-align:right;
	font-size:14px;
	letter-spacing:0;
}
.e2_271 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:24px;
	height:24px;
	position:absolute;
	left:823px;
	top:31px;
}
.i2_271_28_13908 { 
	border:2px solid rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
}
.ei2_271_28_13908 { 
	width:6px;
	height:3px;
	position:absolute;
	left:9px;
	top:11px;
}
.e2_272 { 
	width:20px;
	height:20px;
	position:absolute;
	left:238px;
	top:4px;
	background-image:url(images/vulcan_salute.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_273 { 
	background-color:rgba(252.87500202655792, 252.87500202655792, 252.87500202655792, 1);
	width:212px;
	height:780px;
	position:absolute;
	left:0px;
	top:85px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.ei2_273_91_588 { 
	width:212px;
	height:45px;
	position:absolute;
	left:0px;
	top:705px;
}
.ei2_273_91_588_91_497 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:51px;
	height:17px;
	position:absolute;
	left:71px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.ei2_273_91_588_91_498 { 
	color: rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:24px;
	height:24px;
	position:absolute;
	left:32px;
	top:11px;
}
.ei2_273_91_588_91_498_91_634 { 
	background-color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:16px;
	height:17.98313331604004px;
	position:absolute;
	left:4px;
	top:3.0084228515625px;
}
.ei2_273_91_538 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:212px;
	height:265px;
	position:absolute;
	left:0px;
	top:30px;
}
.ei2_273_91_567 { 
	color: rgba(0, 122.00000032782555, 255, 1);
	border-right: 5px solid rgba(0, 122.00000032782555, 255, 1);
	width:212px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2_273_91_567_91_457 { 
	color:rgba(0, 122.00000032782555, 255, 1);
	width:78px;
	height:17px;
	position:absolute;
	left:71px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.ei2_273_91_567_91_458 { 
	width:24px;
	height:24px;
	position:absolute;
	left:32px;
	top:10px;
}
.ei2_273_91_567_91_458_91_671 { 
	
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
}
.ei2_273_91_567_91_459 { 
	transform: rotate(90.00000250447523deg);
	width:40px;
	height:0px;
	position:absolute;
	left:207px;
	top:3px;
}
.i2_273_91_567_91_459 { 
	border:3px solid rgba(0, 122.00000032782555, 255, 1);
}
.ei2_273_91_566 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:212px;
	height:45px;
	position:absolute;
	left:0px;
	top:55px;
}
.ei2_273_91_566_91_436 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:64px;
	height:17px;
	position:absolute;
	left:72px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.ei2_273_91_566_91_437 { 
	width:24px;
	height:24px;
	position:absolute;
	left:32px;
	top:10px;
}
.ei2_273_91_566_91_437_91_630 { 
	background-color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:16.56863784790039px;
	height:20px;
	position:absolute;
	left:4px;
	top:2px;
}
.ei2_273_91_565 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:212px;
	height:45px;
	position:absolute;
	left:0px;
	top:110px;
}
.ei2_273_91_565_91_439 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:42px;
	height:17px;
	position:absolute;
	left:71px;
	top:15px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.ei2_273_91_565_91_440 { 
	transform: rotate(180deg);
	width:24px;
	height:24px;
	position:absolute;
	left:35px;
	top:11px;
}
.ei2_273_91_565_91_440_91_631 { 
	background-color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
	border-radius:10px;
}
.ei2_273_91_563 { 
	width:212px;
	height:45px;
	position:absolute;
	left:0px;
	top:165px;
}
.ei2_273_91_563_91_445 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:64px;
	height:17px;
	position:absolute;
	left:71px;
	top:15px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.ei2_273_91_563_91_446 { 
	width:24px;
	height:24px;
	position:absolute;
	left:32px;
	top:11px;
}
.ei2_273_91_563_91_446_91_633 { 
	background-color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
}
.ei2_273_91_564 { 
	width:212px;
	height:45px;
	position:absolute;
	left:0px;
	top:220px;
}
.ei2_273_91_564_91_442 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:86px;
	height:17px;
	position:absolute;
	left:71px;
	top:15px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.ei2_273_91_564_91_443 { 
	width:24px;
	height:24px;
	position:absolute;
	left:32px;
	top:11px;
}
.ei2_273_91_564_91_443_91_632 { 
	background-color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
}
.ei2_273_91_866 { 
	width:212px;
	height:237px;
	position:absolute;
	left:0px;
	top:400px;
}
.ei2_273_91_537 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:80px;
	height:17px;
	position:absolute;
	left:30px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.ei2_273_91_840 { 
	width:212px;
	height:190px;
	position:absolute;
	left:0px;
	top:27px;
}
.ei2_273_91_823 { 
	width:212px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2_273_91_823_91_761 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:29px;
	height:17px;
	position:absolute;
	left:71px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.ei2_273_91_823_91_762 { 
	width:24px;
	height:24px;
	position:absolute;
	left:32px;
	top:10px;
}
.i2_273_91_823_91_763 { 
	border:1px solid rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
}
.ei2_273_91_823_91_763 { 
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.ei2_273_91_823_91_764 { 
	width:14px;
	height:14px;
	position:absolute;
	left:3px;
	top:3px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei2_273_91_822 { 
	width:212px;
	height:45px;
	position:absolute;
	left:0px;
	top:55px;
}
.ei2_273_91_822_91_766 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:34px;
	height:17px;
	position:absolute;
	left:71px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.ei2_273_91_822_91_767 { 
	width:24px;
	height:24px;
	position:absolute;
	left:32px;
	top:10px;
}
.i2_273_91_822_91_768 { 
	border:1px solid rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
}
.ei2_273_91_822_91_768 { 
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.ei2_273_91_822_91_769 { 
	width:12px;
	height:12px;
	position:absolute;
	left:4px;
	top:4px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei2_273_92_1828 { 
	width:212px;
	height:80px;
	position:absolute;
	left:0px;
	top:110px;
}
.ei2_273_92_1828_92_1346 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:104px;
	height:17px;
	position:absolute;
	left:71px;
	top:12px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.ei2_273_92_1828_92_1347 { 
	background-color: rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	color:white;
	position:absolute;
	left:32px;
	top:9px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}


.e2_274 { 
	background-color:rgba(252.87500202655792, 252.87500202655792, 252.87500202655792, 1);
	width:1440px;
	height:85px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2_274_92_2284 { 
	width:35px;
	height:35px;
	position:absolute;
	left:1341px;
	top:33px;
}
.ei2_274_92_2285 { 
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
	border-top-left-radius:200px;
	border-top-right-radius:200px;
	border-bottom-left-radius:200px;
	border-bottom-right-radius:200px;
}

.ei2_274_92_2287 { 
	background-color:rgba(255, 255, 255, 1);
	color: rgba(0, 122.00000032782555, 255, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:25px;
	top:25px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.i2_274_92_2287 { 
	border:1px solid rgba(255, 255, 255, 1);
}


.ei2_274_92_2581 { 
	box-shadow:0px 1px 4px rgba(0, 0, 0, 0.11940012872219086);
	background-color:rgba(252.87500202655792, 252.87500202655792, 252.87500202655792, 1);
	width:897px;
	height:40px;
	position:absolute;
	left:302px;
	top:30px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.ei2_274_92_2581_92_2294 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:608px;
	height:17px;
	position:absolute;
	left:46px;
	top:11px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.ei2_274_92_2581_92_2295 { 
	width:24px;
	height:24px;
	position:absolute;
	left:2px;
	top:8px;
	color: rgba(0, 122.00000032782555, 255, 1)
}
.ei2_274_92_2581_92_2295_22_13679 { 
	transform: rotate(180deg);
	width:24px;
	height:24px;
	position:absolute;
	left:24px;
	top:0px;
}
.ei2_274_92_2581_92_2295_22_13679_21_14347 { 
	transform: rotate(180deg);
	background-color:rgba(0, 122.00000032782555, 255, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:22px;
	top:2.0000107288360596px;
}
.ei2_274_92_2562 { 
	width:302px;
	height:40px;
	position:absolute;
	left:0px;
	top:30px;
}
.ei2_274_92_2562_92_2353 { 
	background-color:rgba(0, 122.00000032782555, 255, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:30px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei2_274_92_2562_92_2353_92_2346 { 
	width:24px;
	height:24px;
	position:absolute;
	left:8px;
	top:8px;
}
.ei2_274_92_2562_92_2353_92_2346_92_2341 { 
	background-color:rgba(252.87500202655792, 252.87500202655792, 252.87500202655792, 1);
	width:10px;
	height:12px;
	position:absolute;
	left:7px;
	top:6px;
}
.ei2_274_92_2562_92_2329 { 
	color:rgba(0, 122.00000032782555, 255, 1);
	width:117px;
	height:17px;
	position:absolute;
	left:80px;
	top:4px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.ei2_274_92_2562_92_2330 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:117px;
	height:15px;
	position:absolute;
	left:80px;
	top:21px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.ei2_274_92_2562_92_2331 { 
	width:24px;
	height:24px;
	position:absolute;
	left:256px;
	top:8px;
}
.i2_274_92_2562_92_2331_28_13908 { 
	border:2px solid rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
}
.ei2_274_92_2562_92_2331_28_13908 { 
	width:6px;
	height:3px;
	position:absolute;
	left:9px;
	top:11px;
}
.ei2_274_92_2302 { 
	width:24px;
	height:24px;
	position:absolute;
	left:1386px;
	top:38px;
}
.i2_274_92_2302_28_13908 { 
	border:2px solid rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
}
.ei2_274_92_2302_28_13908 { 
	width:6px;
	height:3px;
	position:absolute;
	left:9px;
	top:11px;
}
.ei2_274_92_2586 { 
	width:84px;
	height:35px;
	position:absolute;
	left:1247px;
	top:33px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.ei2_274_92_2587 { 
	background-color:rgba(0, 122.00000032782555, 255, 1);
	opacity:0.10000000149011612;
	width:84px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:17.33246612548828px;
	border-top-right-radius:17.33246612548828px;
	border-bottom-left-radius:17.33246612548828px;
	border-bottom-right-radius:17.33246612548828px;
}
.ei2_274_92_2588 { 
	color:rgba(0, 122.00000032782555, 255, 1);
	width:43px;
	height:17px;
	position:absolute;
	left:21px;
	top:8.07733154296875px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.ei2_274_95_2311 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:24px;
	height:24px;
	position:absolute;
	left:1203px;
	top:38px;
}

.e2_275 { 
	width:847px;
	height:635px;
	position:absolute;
	left:232px;
	top:202px;
}
.e2_276 { 
	box-shadow:0px 4px 10px rgba(79.6875, 79.6875, 79.6875, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:847px;
	height:425px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e2_277 { 
	width:299px;
	height:90px;
	position:absolute;
	left:28px;
	top:23px;
}
.e2_278 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:76px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e2_279 { 
	width:299px;
	height:72px;
	position:absolute;
	left:0px;
	top:18px;
}
.e2_280 { 
	color:rgba(255, 149.00000631809235, 0, 1);
	width:273px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:85px;
	letter-spacing:0;
}
.e2_281 { 
	color:rgba(255, 149.00000631809235, 0, 1);
	width:26px;
	height:15px;
	position:absolute;
	left:220px;
	top:12px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e2_282 { 
	width:185px;
	height:268px;
	position:absolute;
	left:28px;
	top:140px;
}
.e2_283 { 
	width:15px;
	height:15px;
	position:absolute;
	left:88px;
	top:0px;
	background-image:url(images/icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_284 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:81px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e2_285 { 
	color:rgba(4.000000236555934, 4.000000236555934, 4.000000236555934, 1);
	width:79px;
	height:22px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e2_286 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:39px;
	height:22px;
	position:absolute;
	left:0px;
	top:246px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e2_287 { 
	background-color:rgba(252.87500202655792, 252.87500202655792, 252.87500202655792, 1);
	width:185px;
	height:186px;
	position:absolute;
	left:0px;
	top:50px;
	border-radius:12px;
}
.e2_288 { 
	background-color:rgba(255, 191.00000381469727, 8.000000473111868, 1);
	width:185px;
	height:232px;
	position:absolute;
	left:0px;
	top:113px;
	border-radius:12px;
}
.e2_289 { 
	background-color:rgba(242.00000077486038, 95.00000193715096, 51.00000075995922, 1);
	width:185px;
	height:232px;
	position:absolute;
	left:0px;
	top:132px;
	border-radius:12px;
}
.e2_290 { 
	background-color:rgba(131.00000739097595, 58.00000034272671, 180.00000447034836, 1);
	width:185px;
	height:232px;
	position:absolute;
	left:0px;
	top:158px;
    border-radius:12px;
}
.e2_291 { 
	width:185px;
	height:268px;
	position:absolute;
	left:230px;
	top:140px;
}
.e2_292 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:38px;
	height:22px;
	position:absolute;
	left:0px;
	top:246px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e2_293 { 
	width:15px;
	height:15px;
	position:absolute;
	left:90px;
	top:0px;
	background-image:url(images/spouting_whale.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_294 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:83px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e2_295 { 
	color:rgba(4.000000236555934, 4.000000236555934, 4.000000236555934, 1);
	width:78px;
	height:22px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e2_296 { 
	background-color:rgba(252.87500202655792, 252.87500202655792, 252.87500202655792, 1);
	width:185px;
	height:186px;
	position:absolute;
	left:0px;
	top:50px;
	border-radius:12px;
}
.e2_297 { 
	background-color:rgba(255, 191.00000381469727, 8.000000473111868, 1);
	width:185px;
	height:232px;
	position:absolute;
	left:0px;
	top:62px;
	border-radius:12px;
}
.e2_298 { 
	background-color:rgba(242.00000077486038, 95.00000193715096, 51.00000075995922, 1);
	width:185px;
	height:232px;
	position:absolute;
	left:0px;
	top:93px;
	border-radius:12px;
}
.e2_299 { 
	background-color:rgba(131.00000739097595, 58.00000034272671, 180.00000447034836, 1);
	width:185px;
	height:232px;
	position:absolute;
	left:0px;
	top:160px;
	border-radius:12px;
}
.e2_300 { 
	width:186px;
	height:268px;
	position:absolute;
	left:432px;
	top:140px;
}
.e2_301 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:26px;
	height:22px;
	position:absolute;
	left:1px;
	top:246px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e2_302 { 
	width:15px;
	height:15px;
	position:absolute;
	left:92px;
	top:0px;
	background-image:url(images/one_piece_swimsuit.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_303 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:83px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e2_304 { 
	color:rgba(4.000000236555934, 4.000000236555934, 4.000000236555934, 1);
	width:67px;
	height:22px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e2_305 { 
	background-color:rgba(252.87500202655792, 252.87500202655792, 252.87500202655792, 1);
	width:185px;
	height:186px;
	position:absolute;
	left:1px;
	top:50px;
	border-radius:12px;
}
.e2_306 { 
	background-color:rgba(255, 191.00000381469727, 8.000000473111868, 1);
	width:185px;
	height:250px;
	position:absolute;
	left:0px;
	top:144px;
	border-radius:12px;
}
.e2_307 { 
	background-color:rgba(242.00000077486038, 95.00000193715096, 51.00000075995922, 1);
	width:185px;
	height:250px;
	position:absolute;
	left:0px;
	top:157px;
	border-radius:12px;
}
.e2_308 { 
	background-color:rgba(131.00000739097595, 58.00000034272671, 180.00000447034836, 1);
	width:185px;
	height:250px;
	position:absolute;
	left:0px;
	top:167px;
	border-radius:12px;
}
.e2_309 { 
	width:185px;
	height:268px;
	position:absolute;
	left:635px;
	top:140px;
}
.e2_310 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:27px;
	height:22px;
	position:absolute;
	left:0px;
	top:246px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e2_311 { 
	width:15px;
	height:15px;
	position:absolute;
	left:107px;
	top:0px;
	background-image:url(images/four_leaf_clover.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_312 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:101px;
	height:15px;
	position:absolute;
	left:1px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e2_313 { 
	color:rgba(4.000000236555934, 4.000000236555934, 4.000000236555934, 1);
	width:85px;
	height:22px;
	position:absolute;
	left:1px;
	top:18px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e2_314 { 
	background-color:rgba(252.87500202655792, 252.87500202655792, 252.87500202655792, 1);
	width:185px;
	height:186px;
	position:absolute;
	left:0px;
	top:50px;
	border-radius:12px;
}
.e2_315 { 
	background-color:rgba(255, 191.00000381469727, 8.000000473111868, 1);
	width:185px;
	height:250px;
	position:absolute;
	left:0px;
	top:159px;
	border-radius:12px;
}
.e2_316 { 
	background-color:rgba(242.00000077486038, 95.00000193715096, 51.00000075995922, 1);
	width:185px;
	height:250px;
	position:absolute;
	left:0px;
	top:169px;
	border-radius:12px;
}
.e2_317 { 
	background-color:rgba(131.00000739097595, 58.00000034272671, 180.00000447034836, 1);
	width:185px;
	height:250px;
	position:absolute;
	left:0px;
	top:174px;
	border-radius:12px;
}
.e2_318 { 
	width:307.73779296875px;
	height:55px;
	position:absolute;
	left:432px;
	top:23px;
}
.e2_319 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:49px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e2_320 { 
	color:rgba(4.000000236555934, 4.000000236555934, 4.000000236555934, 1);
	width:77px;
	height:22px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e2_321 { 
	width:121.73779296875px;
	height:55px;
	position:absolute;
	left:203px;
	top:0px;
}
.e2_322 { 
	width:114.73779296875px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_323 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:96px;
	height:15px;
	position:absolute;
	left:18.73779296875px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12.179571151733398px;
	letter-spacing:0;
}
.e2_324 { 
	background-color:rgba(255, 191.00000381469727, 8.000000473111868, 1);
	width:10.305790901184082px;
	height:10.305790901184082px;
	position:absolute;
	left:0px;
	top:2.8106689453125px;
	border-top-left-radius:1.8737801313400269px;
	border-top-right-radius:1.8737801313400269px;
	border-bottom-left-radius:1.8737801313400269px;
	border-bottom-right-radius:1.8737801313400269px;
}
.e2_325 { 
	width:100.73779296875px;
	height:15px;
	position:absolute;
	left:0px;
	top:20px;
}
.e2_326 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:82px;
	height:15px;
	position:absolute;
	left:18.73779296875px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e2_327 { 
	background-color:rgba(242.00000077486038, 95.00000193715096, 51.00000075995922, 1);
	width:10.305790901184082px;
	height:10.305790901184082px;
	position:absolute;
	left:0px;
	top:2.8106689453125px;
	border-top-left-radius:1.8737801313400269px;
	border-top-right-radius:1.8737801313400269px;
	border-bottom-left-radius:1.8737801313400269px;
	border-bottom-right-radius:1.8737801313400269px;
}
.e2_328 { 
	width:121.73779296875px;
	height:15px;
	position:absolute;
	left:0px;
	top:40px;
}
.e2_329 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:103px;
	height:15px;
	position:absolute;
	left:18.73779296875px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e2_330 { 
	background-color:rgba(131.00000739097595, 58.00000034272671, 180.00000447034836, 1);
	width:10.305790901184082px;
	height:10.305790901184082px;
	position:absolute;
	left:0px;
	top:2.8106689453125px;
	border-top-left-radius:1.8737801313400269px;
	border-top-right-radius:1.8737801313400269px;
	border-bottom-left-radius:1.8737801313400269px;
	border-bottom-right-radius:1.8737801313400269px;
}
.e2_331 { 
	background-color:rgba(255, 149.00000631809235, 0, 1);
	width:47px;
	height:29px;
	position:absolute;
	left:80px;
	top:14px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e2_332 { 
	color:rgba(255, 255, 255, 1);
	width:23px;
	height:15px;
	position:absolute;
	left:12px;
	top:7px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e2_333 { 
	box-shadow:0px 4px 10px rgba(79.6875, 79.6875, 79.6875, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:847px;
	height:190px;
	position:absolute;
	left:0px;
	top:445px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e2_334 { 
	width:792px;
	height:167px;
	position:absolute;
	left:28px;
	top:11px;
}
.e2_335 { 
	color:rgba(4.000000236555934, 4.000000236555934, 4.000000236555934, 1);
	width:40px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e2_336 { 
	color:rgba(4.000000236555934, 4.000000236555934, 4.000000236555934, 1);
	width:68px;
	height:17px;
	position:absolute;
	left:202px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e2_337 { 
	color:rgba(4.000000236555934, 4.000000236555934, 4.000000236555934, 1);
	width:33px;
	height:17px;
	position:absolute;
	left:607px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e2_338 { 
	width:792px;
	height:140px;
	position:absolute;
	left:0px;
	top:27px;
}
.e2_339 { 
	width:792px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_340 { 
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:3px;
	border-top-left-radius:200px;
	border-top-right-radius:200px;
	border-bottom-left-radius:200px;
	border-bottom-right-radius:200px;
}
.e2_341 { 
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_342 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:75px;
	height:17px;
	position:absolute;
	left:50px;
	top:12px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.task1_progress_bar{
	width:249px;
	height:15px;
	position:absolute;
	left:24px;
	top:46px;
}
.task1_complete{ 
	background-color:rgba(52.000000700354576, 199.0000033378601, 89.00000229477882, 1);
	opacity:0.20000000298023224;
	width:280px;
	height:3px;
	position:absolute;
	left:0px;
	top:6px;
	border-top-left-radius:2.5px;
	border-top-right-radius:2.5px;
	border-bottom-left-radius:2.5px;
	border-bottom-right-radius:2.5px;
}
.task1_progress { 
	background-color:rgba(52.000000700354576, 199.0000033378601, 89.00000229477882, 1);
	width:280px;
	height:3px;
	position:absolute;
	left:0px;
	top:6px;
	border-radius:4px;
}
.task2_progress_bar{
	width:249px;
	height:15px;
	position:absolute;

	top:46px;
}
.task2_complete{ 
	background-color:rgba(150.0000062584877, 199.0000033378601, 254.00000005960464, 1);
	opacity:0.20000000298023224;
	width:280px;
	height:3px;
	position:absolute;
	left:0px;
	top:6px;
	border-top-left-radius:2.5px;
	border-top-right-radius:2.5px;
	border-bottom-left-radius:2.5px;
	border-bottom-right-radius:2.5px;
}
.task2_progress { 
	background-color:rgba(0, 122.00000032782555, 255, 1);
	width:98px;
	height:3px;
	position:absolute;
	left:0px;
	top:6px;
	border-radius:4px;
}
.e2_343 { 
	width:388px;
	height:15px;
	position:absolute;
	left:202px;
	top:13px;
}
.e2_344 { 
	background-color:rgba(255, 191.00000381469727, 8.000000473111868, 1);
	opacity:0.20000000298023224;
	width:339px;
	height:4px;
	position:absolute;
	left:0px;
	top:6px;
	border-top-left-radius:2.5px;
	border-top-right-radius:2.5px;
	border-bottom-left-radius:2.5px;
	border-bottom-right-radius:2.5px;
}
.e2_345 { 
	background-color:rgba(255, 191.00000381469727, 8.000000473111868, 1);
	width:94px;
	height:4px;
	position:absolute;
	left:0px;
	top:6px;
	border-radius:Symbol(figma.mixed)px;
}
.e2_346 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:26px;
	height:15px;
	position:absolute;
	left:362px;
	top:0px;
	font-family:Inter;
	text-align:right;
	font-size:12px;
	letter-spacing:0;
}
.e2_347 { 
	box-shadow:0px 4px 10px rgba(79.6875, 79.6875, 79.6875, 0.05000000074505806);
	background-color:rgba(252.87500202655792, 252.87500202655792, 252.87500202655792, 1);
	width:185px;
	height:40px;
	position:absolute;
	left:607px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e2_348 { 
	color:rgba(0, 122.00000032782555, 255, 1);
	width:40px;
	height:17px;
	position:absolute;
	left:55.5px;
	top:11.5px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e2_349 { 
	width:24px;
	height:24px;
	position:absolute;
	left:105.5px;
	top:8px;
}
.i2_349_28_13908 { 
	border:2px solid rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
}
.ei2_349_28_13908 { 
	width:6px;
	height:3px;
	position:absolute;
	left:9px;
	top:11px;
}
.e2_350 { 
	width:792px;
	height:40px;
	position:absolute;
	left:0px;
	top:50px;
}
.e2_351 { 
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:3px;
	border-top-left-radius:200px;
	border-top-right-radius:200px;
	border-bottom-left-radius:200px;
	border-bottom-right-radius:200px;
}
.e2_352 { 
	width:37px;
	height:37px;
	position:absolute;
	left:-1px;
	top:-1px;
	background-image:url(images/image_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_353 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:81px;
	height:17px;
	position:absolute;
	left:50px;
	top:12px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e2_354 { 
	width:388px;
	height:15px;
	position:absolute;
	left:202px;
	top:13px;
}
.e2_355 { 
	background-color:rgba(242.00000077486038, 95.00000193715096, 51.00000075995922, 1);
	opacity:0.20000000298023224;
	width:339px;
	height:4px;
	position:absolute;
	left:0px;
	top:6px;
	border-top-left-radius:2.5px;
	border-top-right-radius:2.5px;
	border-bottom-left-radius:2.5px;
	border-bottom-right-radius:2.5px;
}
.e2_356 { 
	background-color:rgba(242.00000077486038, 95.00000193715096, 51.00000075995922, 1);
	width:325px;
	height:4px;
	position:absolute;
	left:0px;
	top:6px;
	border-radius:Symbol(figma.mixed)px;
}
.e2_357 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:26px;
	height:15px;
	position:absolute;
	left:362px;
	top:0px;
	font-family:Inter;
	text-align:right;
	font-size:12px;
	letter-spacing:0;
}
.e2_358 { 
	box-shadow:0px 4px 10px rgba(79.6875, 79.6875, 79.6875, 0.05000000074505806);
	background-color:rgba(252.87500202655792, 252.87500202655792, 252.87500202655792, 1);
	width:185px;
	height:40px;
	position:absolute;
	left:607px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e2_359 { 
	color:rgba(0, 122.00000032782555, 255, 1);
	width:33px;
	height:17px;
	position:absolute;
	left:59px;
	top:11.5px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e2_360 { 
	width:24px;
	height:24px;
	position:absolute;
	left:102px;
	top:8px;
}
.i2_360_28_13908 { 
	border:2px solid rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
}
.ei2_360_28_13908 { 
	width:6px;
	height:3px;
	position:absolute;
	left:9px;
	top:11px;
}
.e2_361 { 
	width:792px;
	height:40px;
	position:absolute;
	left:0px;
	top:100px;
}
.e2_362 { 
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:3px;
	border-top-left-radius:200px;
	border-top-right-radius:200px;
	border-bottom-left-radius:200px;
	border-bottom-right-radius:200px;
}
.e2_363 { 
	width:35px;
	height:54px;
	position:absolute;
	left:0px;
	top:-2px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_364 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:101px;
	height:17px;
	position:absolute;
	left:50px;
	top:12px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e2_365 { 
	width:388px;
	height:15px;
	position:absolute;
	left:202px;
	top:13px;
}
.e2_366 { 
	background-color:rgba(131.00000739097595, 58.00000034272671, 180.00000447034836, 1);
	opacity:0.20000000298023224;
	width:339px;
	height:4px;
	position:absolute;
	left:0px;
	top:6px;
	border-top-left-radius:2.5px;
	border-top-right-radius:2.5px;
	border-bottom-left-radius:2.5px;
	border-bottom-right-radius:2.5px;
}
.e2_367 { 
	background-color:rgba(131.00000739097595, 58.00000034272671, 180.00000447034836, 1);
	width:238px;
	height:4px;
	position:absolute;
	left:0px;
	top:6px;
	border-radius:Symbol(figma.mixed)px;
}
.e2_368 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:25px;
	height:15px;
	position:absolute;
	left:363px;
	top:0px;
	font-family:Inter;
	text-align:right;
	font-size:12px;
	letter-spacing:0;
}
.e2_369 { 
	box-shadow:0px 4px 10px rgba(79.6875, 79.6875, 79.6875, 0.05000000074505806);
	background-color:rgba(252.87500202655792, 252.87500202655792, 252.87500202655792, 1);
	width:185px;
	height:40px;
	position:absolute;
	left:607px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e2_370 { 
	color:rgba(0, 122.00000032782555, 255, 1);
	width:42px;
	height:17px;
	position:absolute;
	left:54.5px;
	top:11.5px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e2_371 { 
	width:24px;
	height:24px;
	position:absolute;
	left:106.5px;
	top:8px;
}
.i2_371_28_13908 { 
	border:2px solid rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
}
.ei2_371_28_13908 { 
	width:6px;
	height:3px;
	position:absolute;
	left:9px;
	top:11px;
}
.e2_372 { 
	background-color:rgba(252.87500202655792, 252.87500202655792, 252.87500202655792, 1);
	width:341px;
	height:780px;
	position:absolute;
	left:1099px;
	top:85px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e2_373 { 
	width:321px;
	height:715px;
	position:absolute;
	left:10px;
	top:30px;
}
.e2_374 { 
	width:281px;
	height:24px;
	position:absolute;
	left:20px;
	top:0px;
}
.e2_375 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2_375_92_1494 { 
	background-color:rgba(49.00000087916851, 74.0000031888485, 204.00000303983688, 0.10000000149011612);
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e2_376 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:24px;
	height:24px;
	position:absolute;
	left:257px;
	top:0px;
}
.ei2_376_22_13700 { 
	background-color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:7px;
	top:7px;
}
.e2_377 { 
	color:rgba(4.000000236555934, 4.000000236555934, 4.000000236555934, 1);
	width:227px;
	height:22px;
	position:absolute;
	left:28px;
	top:1px;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e2_378 { 
	background-color:rgba(0, 122.00000032782555, 255, 1);
	width:281px;
	height:250px;
	position:absolute;
	left:20px;
	top:44px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e2_379 { 
	color:rgba(153.00000607967377, 201.50004118680954, 255, 1);
	width:197px;
	height:30px;
	position:absolute;
	left:42px;
	top:59px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e2_380 { 
	color:rgba(252.87500202655792, 252.87500202655792, 252.87500202655792, 1);
	width:123px;
	height:22px;
	position:absolute;
	left:79px;
	top:32px;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e2_381 { 
	background-color:rgba(252.87500202655792, 252.87500202655792, 252.87500202655792, 1);
	width:91px;
	height:37px;
	position:absolute;
	left:95px;
	top:181.893310546875px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e2_382 { 
	color:rgba(0, 122.00000032782555, 255, 1);
	width:49px;
	height:17px;
	position:absolute;
	left:21px;
	top:10px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e2_383 { 
	width:175px;
	height:63px;
	position:absolute;
	left:53px;
	top:108.893310546875px;
}
.e2_384 { 
	width:67px;
	height:33px;
	position:absolute;
	left:73px;
	top:0px;
}
.e2_385 { 
	color:rgba(153.00000607967377, 201.50004118680954, 255, 1);
	width:26px;
	height:15px;
	position:absolute;
	left:41px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e2_386 { 
	color:rgba(252.87500202655792, 252.87500202655792, 252.87500202655792, 1);
	width:28px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:44px;
	letter-spacing:0;
}
.e2_387 { 
	background-color:rgba(153.00000607967377, 201.50004118680954, 255, 1);
	width:175px;
	height:5px;
	position:absolute;
	left:0px;
	top:53px;
	border-top-left-radius:2.5px;
	border-top-right-radius:2.5px;
	border-bottom-left-radius:2.5px;
	border-bottom-right-radius:2.5px;
}
.e2_388 { 
	width:15px;
	height:15px;
	position:absolute;
	left:7px;
	top:48px;
}
.e2_389 { 
	box-shadow:0px 3px 7.5px rgba(79.6875, 79.6875, 79.6875, 0.05000000074505806);
	background-color:rgba(252.87500202655792, 252.87500202655792, 252.87500202655792, 1);
	width:15px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e2_390 { 
	background-color:rgba(0, 122.00000032782555, 255, 1);
	width:7.5px;
	height:7.5px;
	position:absolute;
	left:3.75px;
	top:3.75px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e2_391 { 
	width:321px;
	height:401px;
	position:absolute;
	left:0px;
	top:314px;
}
.e2_392 { 
	width:321px;
	height:210px;
	position:absolute;
	left:0px;
	top:43px;
}
.e2_393 { 
	width:321px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_394 { 
	width:281px;
	height:60px;
	position:absolute;
	left:20px;
	top:0px;
}
.e2_395 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:145px;
	height:15px;
	position:absolute;
	left:30px;
	top:26px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e2_396 { 
	color:rgba(4.000000236555934, 4.000000236555934, 4.000000236555934, 1);
	width:190px;
	height:17px;
	position:absolute;
	left:30px;
	top:8px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e2_397 { 
	width:281px;
	height:0.00002456579932186287px;
	position:absolute;
	left:0px;
	top:52px;
}
.e2_398 { 
	transform: rotate(0.000005008956130975318deg);
	width:281px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}
.2_398 { 
	border:2px solid rgba(252.87500202655792, 252.87500202655792, 252.87500202655792, 1);
}
.e2_399 { 
	transform: rotate(0.000005008956130975318deg);
	width:281px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}
.2_399 { 
	border:2px solid rgba(52.000000700354576, 199.0000033378601, 89.00000229477882, 1);
}
.e2_400 { 
	background-color:rgba(52.000000700354576, 199.0000033378601, 89.00000229477882, 1);
	width:47px;
	height:29px;
	position:absolute;
	left:234px;
	top:10px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e2_401 { 
	width:24px;
	height:24px;
	position:absolute;
	left:11.5px;
	top:2.5px;
}
.ei2_401_25_13764 { 
	color:rgba(255, 255, 255, 1);
	width:11.313708305358887px;
	height:8.485280990600586px;
	position:absolute;
	
}
.e2_402 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:15px;
	background-image:url(images/emoji.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_403 { 
	width:321px;
	height:60px;
	position:absolute;
	left:0px;
	top:75px;
}
.e2_404 { 
	width:281px;
	height:60px;
	position:absolute;
	left:20px;
	top:0px;
}
.e2_405 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:190px;
	height:15px;
	position:absolute;
	left:30px;
	top:26px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e2_406 { 
	color:rgba(4.000000236555934, 4.000000236555934, 4.000000236555934, 1);
	width:190px;
	height:17px;
	position:absolute;
	left:30px;
	top:8px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e2_407 { 
	width:281px;
	height:0.00002456579932186287px;
	position:absolute;
	left:0px;
	top:52px;
}
.e2_408 { 
	transform: rotate(0.000005008956130975318deg);
	opacity:0.20000000298023224;
	width:281px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}
.2_408 { 
	border:2px solid rgba(0, 122.00000032782555, 255, 1);
}
.e2_409 { 
	transform: rotate(0.000005008956130975318deg);
	width:72px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}
.2_409 { 
	border:2px solid rgba(0, 122.00000032782555, 255, 1);
}
.e2_410 { 
	background-color:rgba(0, 122.00000032782555, 255, 1);
	width:47px;
	height:29px;
	position:absolute;
	left:232px;
	top:10px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e2_411 { 
	color:rgba(255, 255, 255, 1);
	width:23px;
	height:15px;
	position:absolute;
	left:12px;
	top:7px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e2_412 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:15px;
	background-image:url(images/emoji.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_413 { 
	width:321px;
	height:60px;
	position:absolute;
	left:0px;
	top:150px;
}
.e2_414 { 
	width:281px;
	height:60px;
	position:absolute;
	left:20px;
	top:0px;
}
.e2_415 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:190px;
	height:15px;
	position:absolute;
	left:30px;
	top:26px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e2_416 { 
	color:rgba(4.000000236555934, 4.000000236555934, 4.000000236555934, 1);
	width:190px;
	height:17px;
	position:absolute;
	left:30px;
	top:8px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e2_417 { 
	width:281px;
	height:0.00002456579932186287px;
	position:absolute;
	left:0px;
	top:52px;
}
.e2_418 { 
	transform: rotate(0.000005008956130975318deg);
	opacity:0.20000000298023224;
	width:281px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}
.2_418 { 
	border:2px solid rgba(0, 122.00000032782555, 255, 1);
}
.e2_419 { 
	transform: rotate(0.000005008956130975318deg);
	width:122px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}
.2_419 { 
	border:2px solid rgba(0, 122.00000032782555, 255, 1);
}
.e2_420 { 
	background-color:rgba(0, 122.00000032782555, 255, 1);
	width:47px;
	height:29px;
	position:absolute;
	left:232px;
	top:10px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e2_421 { 
	color:rgba(255, 255, 255, 1);
	width:25px;
	height:15px;
	position:absolute;
	left:12px;
	top:7px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e2_422 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:15px;
	background-image:url(images/crown.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_423 { 
	color:rgba(4.000000236555934, 4.000000236555934, 4.000000236555934, 1);
	width:50px;
	height:22px;
	position:absolute;
	left:20px;
	top:1px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e2_424 { 
	width:24px;
	height:24px;
	position:absolute;
	left:277px;
	top:0px;
}
.ei2_424_25_13762 { 
	color:rgba(160.00000566244125, 175.00000476837158, 196.00000351667404, 1);
	width:15.933314323425293px;
	height:19.298097610473633px;
	position:absolute;
	
}
.e2_425 { 
	background-color:rgba(150.0000062584877, 199.0000033378601, 254.00000005960464, 1);
	width:280px;
	height:140px;
	position:absolute;
	left:20px;
	top:263px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e2_426 { 
	color:rgba(255, 255, 255, 1);
	width:79px;
	height:17px;
	position:absolute;
	left:101px;
	top:24px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e2_427 { 
	color:rgba(252.87500202655792, 252.87500202655792, 252.87500202655792, 1);
	width:172px;
	height:15px;
	position:absolute;
	left:55px;
	top:46px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e2_428 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.4000000059604645;
	width:224px;
	height:40px;
	position:absolute;
	left:29px;
	top:76px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e2_429 { 
	width:77px;
	height:17px;
	position:absolute;
	left:102px;
	top:87px;
}
.e2_430 { 
	color:rgba(0, 122.00000032782555, 255, 1);
	opacity:0.4000000059604645;
	width:57px;
	height:15px;
	position:absolute;
	left:20px;
	top:0.5px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e2_431 { 
	transform: rotate(90deg);
	width:17px;
	height:17px;
	position:absolute;
	left:17px;
	top:0px;
}
.ei2_431_28_13656 { 
	width:17px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2_431_28_13657 { 
	background-color:rgba(0, 122.00000032782555, 255, 1);
	opacity:0.4000000059604645;
	width:11.179269790649414px;
	height:4.668574810028076px;
	position:absolute;
	left:2.8333332538604736px;
	top:6.162940979003906px;
}
